# Running Analysis
## Garmin data

### importing libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### loading data

In [2]:
def load_data(file: str) -> pd.DataFrame:
    """
    :param file: the name of the file with the running data
    :return: dataframe with the data
    """
    return pd.read_csv(file)
file = r"running_activities.csv"
data = load_data(file)

In [3]:
data.head()

,Activity Type,Date,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,...,Total Descent,Avg Stride Length,Moving Time,Elapsed Time,Min Elevation,Max Elevation,Effort,Self Feel,Route,Place
0,Running,12/09/2022 21:00,7.01,464,0:41:59,0,0,169,192,6:00,...,55,0.99,0:41:54,0:41:59,50,80,9,3,7km_toForest,Ein Vered
1,Running,08/09/2022 20:02,5.00,329,0:28:19,0,0,168,176,5:39,...,34,1.05,0:28:18,0:28:24,55,80,8,5,5km_mostlyInMoshav,Ein Vered
2,Running,05/09/2022 20:50,7.01,460,0:40:02,0,0,169,175,5:43,...,57,1.04,0:39:56,0:40:02,50,80,8,5,7km_toForest,Ein Vered
3,Running,03/09/2022 20:10,7.00,464,0:41:36,0,0,170,182,5:56,...,53,0.99,0:41:34,0:41:36,52,78,7,5,7km_toForest,Ein Vered
4,Running,01/09/2022 20:42,5.01,331,0:28:57,0,0,167,175,5:47,...,35,1.03,0:28:50,0:28:57,50,79,8,5,5km_withOfek,Ein Vered

### Data pre-proccessing

#### filtering all the five km runs

In [11]:
epsilon_of_five = 0.1
five_km_runs = data.loc[(data["Distance"] >= 5-epsilon_of_five) & (data["Distance"] <= 5+epsilon_of_five)]
five_km_runs = five_km_runs.reset_index(drop=True)
five_km_runs.describe()

,Distance,Calories,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Stride Length
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,5.005568,343.090909,122.806818,134.375000,166.170455,177.886364,1.047727
std,0.011127,16.713706,75.767014,82.805868,2.496994,10.033773,0.065526
min,5.000000,316.000000,0.000000,0.000000,157.000000,169.000000,0.700000
25%,5.000000,329.000000,0.000000,0.000000,165.000000,173.000000,1.040000
50%,5.000000,341.500000,167.000000,183.000000,167.000000,176.000000,1.060000
75%,5.010000,353.500000,171.250000,186.000000,168.000000,178.000000,1.080000
max,5.090000,396.000000,179.000000,195.000000,170.000000,227.000000,1.150000

In [5]:
"""making basic averages"""
five_km_runs["Time"] = five_km_runs.to_timedelta(five_km_runs.Time)
tot_time_of_5_kms = five_km_runs["Time"].sum()
print("testing")
print("Another test")

AttributeError: 'DataFrame' object has no attribute 'to_timedelta'