In [42]:
"""imports"""
import pandas as pd
import math
import datetime

In [43]:
"""loading data"""
def load_data(url: str) -> pd.DataFrame:
    return pd.read_csv(url)
url = r"running_activities.csv"
data = load_data(url)

In [44]:
"""show a bit of the data"""
data.head()

,Activity Type,Date,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,...,Total Descent,Avg Stride Length,Moving Time,Elapsed Time,Min Elevation,Max Elevation,Effort,Self Feel,Route,Place
0,Running,12/09/2022 21:00,7.01,464,0:41:59,0,0,169,192,6:00,...,55,0.99,0:41:54,0:41:59,50,80,9,3,7km_toForest,Ein Vered
1,Running,08/09/2022 20:02,5.00,329,0:28:19,0,0,168,176,5:39,...,34,1.05,0:28:18,0:28:24,55,80,8,5,5km_mostlyInMoshav,Ein Vered
2,Running,05/09/2022 20:50,7.01,460,0:40:02,0,0,169,175,5:43,...,57,1.04,0:39:56,0:40:02,50,80,8,5,7km_toForest,Ein Vered
3,Running,03/09/2022 20:10,7.00,464,0:41:36,0,0,170,182,5:56,...,53,0.99,0:41:34,0:41:36,52,78,7,5,7km_toForest,Ein Vered
4,Running,01/09/2022 20:42,5.01,331,0:28:57,0,0,167,175,5:47,...,35,1.03,0:28:50,0:28:57,50,79,8,5,5km_withOfek,Ein Vered

In [45]:
"""gathering all the 5km runs"""
epsilon_of_five = 0.05
five_km_runs = data.loc[(data["Distance"] >= 5-epsilon_of_five) & (data["Distance"] <= 5+epsilon_of_five)]
five_km_runs = five_km_runs.reset_index(drop=True)
five_km_runs.head(5)

,Activity Type,Date,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,...,Total Descent,Avg Stride Length,Moving Time,Elapsed Time,Min Elevation,Max Elevation,Effort,Self Feel,Route,Place
0,Running,08/09/2022 20:02,5.00,329,0:28:19,0,0,168,176,5:39,...,34,1.05,0:28:18,0:28:24,55,80,8,5,5km_mostlyInMoshav,Ein Vered
1,Running,01/09/2022 20:42,5.01,331,0:28:57,0,0,167,175,5:47,...,35,1.03,0:28:50,0:28:57,50,79,8,5,5km_withOfek,Ein Vered
2,Running,25/08/2022 18:58,5.01,321,0:28:10,0,0,167,173,5:38,...,45,1.06,0:27:40,0:28:10,53,81,7,5,5km_withoutOfek,Ein Vered
3,Running,22/08/2022 20:32,5.00,333,0:29:10,0,0,169,175,5:50,...,32,1.01,0:29:03,0:29:10,54,78,10,4,5km_withOfek,Ein Vered
4,Running,18/08/2022 18:45,5.01,328,0:28:11,0,0,168,176,5:38,...,43,1.06,0:28:06,0:28:11,53,81,9,5,5km_withOfek,Ein Vered

In [46]:
"""making basic averages"""
five_km_runs["Time"] = five_km_runs.to_timedelta(five_km_runs.Time)
tot_time_of_5_kms = five_km_runs["Time"].sum()
print("testing")
print("Another test")

AttributeError: 'DataFrame' object has no attribute 'to_timedelta'